# IDEs
.idea/
.vscode/
*.iml

# Gradle
.gradle/
build/
*/build/
**/build/

# Stonecutter
**/versions/*/generated/
**/versions/*/merged/

# Minecraft runs
run/
runs/
*/run/
*/runs/
**/run/
**/runs/

# TeaKit
.teakit/

# OS / JVM
.DS_Store
*.bak
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Caches
**/.cache/
.architectury-transformer/
