# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
*.bak
*.DS_Store

# annoying
.vscode

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# generated resources and caches
common/src/main/generated/
fabric/src/main/generated/
**/.cache/
.architectury-transformer
